.dashboard {
    margin-top: 5% !important;
    border-radius: 10px;
    margin: 0px 15px 10px 0px;
    margin-left: 22% !important;
    background-color: white;
}

.dashboard .card {
    padding: 0px 10px;
    width: 23%;
    background-color: #b78181;
}

.chart {
    border: 2px solid #900c3f;
    background-color: rgba(183, 129, 129, 0.2);
    box-shadow: 8px 8px 5px #b78181;
    padding: 20px;
    margin-left: 25%;
    margin-top: 3%;
    width: 70%;
}